<div class="card" id="card_width">
  <div class="row no-gutters">
    <div class="col-sm-5">
      <img src="https://picsum.photos/200/300" class="card-img-top" alt="Pelicula" id="img_height">
    </div>
    <div class="col-sm-7">
      <div class="card-body" id="card_body">
        <h5 class="card-title"><%= movie.name %></h5>
          <%= link_to "Show this movie", movie, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>







