
  <div class="col-4 py-2">
    <div class="card">

      <img src="https://picsum.photos/200/300" class="card-img-top" alt="Pelicula">

      <div class="card-body">
        <h5 class="card-title"><%= movie.name %></h5>
        <%= link_to "Show this movie", movie, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
